html {
    font-size: 12px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "EB Garamond", serif; /* this should be the rest of the output you got from Google fonts */
  }
  html {
    background-color: white;
  }
  body {
    width: 800px;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 0 20px 20px 20px;
    border: none
  }
  h1 {
    font-size: 24px;
    text-align: center;
  }
  
  p, li {
    font-size: 16px;    
    line-height: 2;
    letter-spacing: 1px;
  }
  img {
    width: 400px
  }